#root {
  min-height: 100vh;
  padding: .5rem;
  background-color: var(--orange2);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  border-radius: 2rem .25rem;
  padding: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
}
nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */
/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
 */